@import url("../index.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 400px;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--theme-color-form-background);
}

.form-wrapper h2 {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.signup-text {
    margin-top: 2rem;
    font-size: 0.8rem;
}

.signup-link {
    color: var(--theme-color);
}